extends layout
include apiInfo

mixin listAPIsForMenu(group)
	- for (var index in definitions)
		- var api = definitions[index];
		- var id = (api.api + api.method).replace(/\//g, '').replace(/:/g, '-');
		- if (api.group == group)
			a.mainmenu.item(href='#' + id, data-tab='group-' + group) #{api.name}

		- if (!api.group && group == 'General')
			a.mainmenu.item(href='#' + id, data-tab='group-' + group) #{api.name}

mixin listAPIs(group)

	- for (var index in definitions)
		- var api = definitions[index];
		- if (api.group == group)

			div.ui.section.divider

			- var id = (api.api + api.method).replace(/\//g, '').replace(/:/g, '-');
			+apiInfo(id, api)

mixin group(group)
	div.ui.basic.tab.segment(data-tab='group-' + group.name)
		h1.ui.header #{group.name}
		div.article-content !{group.desc}
		+listAPIs(group.name)

		- if (group.name == 'General')
			+listAPIs(undefined)

mixin listGroups
	- for (var index in groups)
		- var group = groups[index];
		+group(group)

mixin general
	- var hasNoGroupAPI = false;

	- for (var index in definitions)
		- var api = definitions[index];
		- if (!api.group)
			- hasNoGroupAPI = true
			- break;
	
	- if (hasNoGroupAPI)

		- var hasGeneral = false;
		- for (var index in groups)
			- var group = groups[index];
			- if (group.name == 'General')
				- hasGeneral = true
				- break;

		- if (!hasGeneral)
			-
				groups.unshift({
					name: 'General',
					desc: ''
				});


mixin menu
	div.ui.inverted.left.fixed.vertical.accordion.menu.mainmenu
		div.item
			h3.ui.blue.inverted.center.aligned.icon.header
				i.circular.high.battery.icon
				| #{name}
				div.sub.header API Documentation

		a.item.blue.mainmenu.active(href='#introduction', data-tab='introduction') Introduction

		+general

		- for (var index in groups)
			- var group = groups[index];

			div.item
				div.title
					i.dropdown.icon
					| #{group.name}
				div.content.menu
					+listAPIsForMenu(group.name)

block body

	+menu

	div.ui.stackable.container.grid
		div.three.wide.column
		div.thirteen.wide.column

			div.ui.basic.tab.segment.active(data-tab='introduction')

				a(name='introduction')
					h1.ui.header #{name}

				div.article-content !{desc}

			+listGroups()
